.AddCoupon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}
.AddForm {
    padding: 10px;
    background-color: aliceblue;
}
.categoryBox {
    background-color: white;
}
